/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 1.4em 'Times New Roman';
  margin: 0.8em 0.6em;
}

article {
  text-align: justify;
}

h1 {
  font-size: 1.8em;
  margin: 0.8em 0.6em;
}

h2 {
  font-size: 1.4em;
  margin: 0.8em 0.6em;
}

img {
  max-width: 100%;
  margin: 0.5em 0;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-flow: row wrap;
}

figure {
  margin: 0.5em;
}

figcaption {
  font-size: 0.8em;
}

@media screen and (max-width: 600px) {
  body {
    background-color: green;
  }
}

@media screen and (min-width: 600px) {
  body {
    background-color: blue;
  }
}

@media screen and (min-width: 992px) {
  body {
    background-color: yellow;
  }
}
